<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001"> <!-- General Settings -->
        <setting label="32008" type="lsep"/> <!-- Header: Basic Settings -->
        <setting id="automatically_execute" type="bool" label="32002" default="true"/>
        <setting id="show_notification" type="bool" label="32003" default="true"/>
        
        <setting label="32009" type="lsep"/> <!-- Header: Advanced Settings -->
        <setting id="multi_aspect_ratios_support" type="bool" label="32006" default="false"/>
        <setting id="android_workaround" type="bool" label="32005" default="false"/>
        <setting id="refresh_interval" type="slider" option="int" range="1,15" label="32007" default="5"/>
        
        <setting label="32010" type="lsep"/> <!-- Header: Actions -->
        <setting id="toggle_test" type="action" label="32004" action="RunScript(script.black.bars.never, toggle)"/>
    </category>
</settings>
